nav {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  user-select: none;

  ul {
    display: inline-flex;
    gap: 40px;

    li {
      display: block;

      a {
        color: #4c4a4a;
        font-weight: bold;
        text-decoration: unset;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #5f5f5f;
          text-decoration: underline;
        }
      }
    }
  }
}
